{% extends 'dash.html' %}
{% load static %}
{% block content %}

<style>
    .container {
        background-color: #f8f9fa;
        padding: 20px;
    }

    .mb-3 {
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    button {
        margin-top: 10px; /* Add some spacing above the buttons */
    }

    .preview-image {
        margin-top: 10px;
    }
</style>

<div class="container">
    <form method="post" action="/update/{{f.slug}}/" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label>Name</label>
            <input type="text" class="form-control" aria-describedby="nameHelp" name="name" value="{{f.name}}">
        </div>

        <div class="mb-3">
            <label for="image"><b>Application</b></label>
            <input type="file" id="image" name="image" class="form-control">
            <p class="preview-image">
                {% if f.image %}
                    <img src="{{ f.image.url }}" alt="Image" height="150px" width="140px">
                {% endif %}
            </p>
        </div>
    <br>
     <div class="mb-3">
        <label>Room No</label>
        <input type="text" class="form-control" name="roomno" value="{{f.roomno}}">
    </div>

    <div class="mb-3">
        <label>Division</label>
        <select name="div" id="div" class="form-control" value="{{f.div}}">
        <optgroup label="Divison">
        <option value="IMCA-A">IMCA-A</option>
        <option value="IMCA-B">IMCA-B</option>
        <option value="IMCA-C">IMCA-C</option>
        <option value="IMCA-D">IMCA-D</option>
        <option value="IMCA-E">IMCA-E</option>
        <option value="IMCA-F">IMCA-F</option>
        </optgroup>
        </select>
    </div>

    <div class="mb-3">
        <label>Semester</label>
        <select name="sem" id="sem" class="form-control" value="{{f.sem}}">
        <optgroup label="Semester">
        <option value="Sem-1">Sem-1</option>
        <option value="Sem-2">Sem-2</option>
        <option value="Sem-3">Sem-3</option>
        <option value="Sem-4">Sem-4</option>
        <option value="Sem-5">Sem-5</option>
        <option value="Sem-6">Sem-6</option>
        </optgroup>
        </select>
    </div>

    <div class="mb-3">
        <label>Subject</label>
        <input type="text" class="form-control" name="subject" value="{{f.subject}}">
    </div>

        <!-- Other form fields... -->

        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
